<!-- Footer -->
<section id="footer" class="text-center">
  <span class="social wow zoomIn">
  <p class="text-dark">Made with <i class="fa fa-heart"></i>  and <i class="fa fa-apple"></i>  by <a target="_black" href="https://karlagergelova.com/"><b>Karla Gergelova</b> </a> 2021. All Rights Reserved</p>
</section>

